<h1>D3 Graph Demo</h1>

<h2>Bar Chart</h2>
<script type="text/javascript">
      var data = [ 5, 10, 13, 19, 21, 25, 22, 18, 15, 13,
              11, 12, 15, 20, 18, 17, 16, 18, 23, 25 ];
</script>

<%= simple_d3("my_chart") %>
<%= simple_d3_bar("my_chart2") %>

<h2>Pie Chart</h2>

<script type="text/javascript">
        var data = [ 5, 10, 20, 45, 6, 25 ];
</script>

<%= simple_d3("my_pie",{:type=>"pie"}) %>
<%= simple_d3_pie("my_pie2") %>


<%= simple_d3("my_pie3",{:type=>"pie", :width=> 1000, :height => 500}) %>